 
 <div class="inline-block w-[350px] h-[350px] md:w-4/6 max-w-[570px] flex-shrink-0 rounded-xl overflow-hidden shadow-md bg-white">
        <img src="{{imageurl}}" alt="Interior" class="w-full h-full object-cover">
      </div>